/* FUENTES PERSONALIZADAS */

/* ESTILOS GENERALES */
body{
    font-family: "Sofia Sans";
    text-decoration: none;
}

.container-fluid .row{
    background: linear-gradient(to right top, #ffffff, #F1F1F1); /* Gradiente de blanco a gris claro */
    background-repeat: no-repeat; /* Evita repeticiones */
    background-size: cover; /* Escala para cubrir todo el contenedor */
    background-position: center; /* Centra el gradiente */
}

.container-fluid .row{
    height: 550px;
}

.navbar-brand img{
    width: 70px;
    transition: transform 0.6s ease;
}

.navbar-brand:hover img{
    transform: rotateY(180deg);
}
.navbars{
    border-bottom: 1px solid black;
}

.container-ingresar{
    margin: 30px;
}

.container-login{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.container-register{
    padding: 10px;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.background-nav{
    background: #E63950;
    margin-left: 10px;
    border-radius: 20px;
}

.navbar-nav .nav-item .nav-link.active {
    color: white;
}

.background-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-item:hover .nav-link.active {
    background: white;
    color: #E63950;
}

.background-nav .nav-link:hover {
    background: white;
    color: #E63950; 
}

.navbar-nav .nav-item:hover .nav-link.active{
    background: white;
    color: #E63950;
}

.container-register{
    color: red;
}

.form-register{
    margin-top: 20px;
}

.form-register input{
    margin-bottom: 10px;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}


#carrousel-design{
    width: 95%;
    height: 350px;
    margin: 15px;
    margin-top: 28px;

}

#carrousel-design img{
    height: 387px;
}

.container-ingresar .btn-login:hover{
    border: 1px solid red;
}

form .nombre{
    border-bottom: 2px solid #adadad;
    width: 90%
}